@media (max-width: 800px) {
    .gridy {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }
}

body {
    font-family: "adobe-clean", sans-serif;
}
#navi{
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
#userfield{
    right: 10%;
    top: 0%;
    position: absolute;
}
#hioflogo{
    position:absolute;
    left: 16%;
    top: 0%;
    font-weight: 800;
}
#titlelabel{
    left: 22%;
    top: 10%;
    position: absolute;
}
#titleinput{
    left: 22%;
    top: 12%;
    position: absolute;
    width: 500px;
    height: 25px;
    text-size-adjust: 18px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 10px;
}
#textareatitle {
    position: absolute;
    left: 22%;
    top: 18%;

}
textarea {
    position:absolute;
    left: 22%;
    top: 22%;
    resize:none;
    display: inline-block;
 }
#ta1{
    text-size-adjust: 18;
    border-radius: 7px;
    border: 1px solid black;
    padding: 20px;
}
#contentbtn{
    font-size: 18px;
    font-weight: bold;
    left:66%;
    top: 46%;
    width: 175px;
    position: absolute;
    padding: 10px;
    border-radius: 7px;
    border: 1px;
    background-color:#6ad2b3;
    color:white;
    transition-duration: 0.4s;
}
#contentbtn:hover{
    background-color:#176263;
}
#gridsection{

    width: 1050px;
    height: 400px;
    grid-gap: 5px 5px; 
    margin-top: 400px;
    margin-left: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.gridy {
    padding: 1rem;
}
.button2{
    width: 90px;
    padding: 10px;
    border-radius: 7px;
    border: 1px;
    background-color: #6ad2b3;
    color:white;
    font-size: 14px;
    font-weight: bold;
    float:right;
    transition-duration: 0.4s;
}
.button2:hover{
    background-color:#176263;
}
#todos{
    position:absolute;
    font-weight: 800;
    left: 22%;
    bottom: 48%;
}
/*.gridy:nth-child(2) {
    background: red;
  }
*/
