html, body {margin: 0; height: 100%; overflow: hidden}
body {
    font-family: "adobe-clean", sans-serif;
}
#userfield{
    right: 10%;
    top: 0%;
    position: absolute;
}
#hioflogo{
    position:absolute;
    left: 17%;
    top: 0%;
    font-weight: 800;
}
#titlelabel{
    left: 24%;
    top: 10%;
    position: absolute;
}
#titleinput{
    left: 24%;
    top: 12%;
    position: absolute;
    width: 500px;
    height: 50px;
    text-size-adjust: 18;
    border-radius: 7px;
    border: 1px solid black;
    padding: 20px;
}
#textareatitle {
    position: absolute;
    left: 24%;
    top: 18%;

}
textarea {
    position:absolute;
    left: 24%;
    top: 22%;
    resize:none;
    display: inline-block;
 }
#ta1{
    text-size-adjust: 18;
    border-radius: 7px;
    border: 1px solid black;
    padding: 20px;
}
#contentbtn{
    font-size: 18px;
    font-weight: bold;
    left:68%;
    top: 46%;
    width: 175px;
    position: absolute;
    padding: 10px;
    border-radius: 7px;
    border: 1px;
    background-color: cyan;
    color:white
}
#gridsection{
    grid-gap: 5px 5px; 
    margin: 425;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.gridy {
    padding: 1rem;
}
.button2{
    width: 90px;
    padding: 10px;
    border-radius: 7px;
    border: 1px;
    background-color: cyan;
    color:white;
    font-size: 14px;
    font-weight: bold;
    float:right;
}
#todos{
    position:absolute;
    font-weight: 800;
    left: 23%;
    bottom: 45%;
}
